<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	
	<body>
		<div class="mainContent">
			<div class="imgThumbContainer">
				<img class="imgThumb" src="avatar aang wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
			<div class="imgThumbContainer">
				<img class="imgThumb" src="4 Elements Avatar Wallpaper.jpg"/>
			</div>
		</div>
	</body>
</html>