<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	
	<body>
		<div class="topContent">
			Hello!
		</div>
		<div class="mainContent">
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah" ></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah" ></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah" ></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah"></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah"></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah"></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah"></a>
			</div>
			<div class="img">
				<a href="images/avatar aang wallpaper.jpg"><img src="images/avatar aang wallpaper.jpg" alt="blah"></a>
			</div>
		</div>
	</body>
</html>