<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	
	<body>
		<div style="text-align:center;">
			<div class="mainContent">
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
				<div class="imageContainer">
				    <a href="images/avatar aang wallpaper.jpg">
						<img class="imgThumb" src="images/avatar aang wallpaper.jpg" alt="some_text"/>
				        <span>...caption...</span>
				    </a>
				</div>
			</div>
		</div>
	</body>
</html>