body
{
	background-color: #040404;
}

.mainContent
{
	background-color: #3F3F3F;
	display: inline;
	margin-top: 100px;
	float: center;
}

.imageContainer {
	background-color: #6E6E6E;
    text-align: center;
    display: inline;
}
.imageContainer img {
    display: inline;
    margin: 12px;
    height: 150px;
}
.imageContainer a {
	background-color: #FFFFFF;
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
}
.imageContainer span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.5);
}