<html lang="en">
    <head>
        <title>Baka-Mockup</title>
    </head>
    <body>
        <div id="json-dump">
            <ul>
                {% for item in result.json()['items'] %}
                <li>{{item['htmlTitle']}}</li>
                {% if item['image'] %}
                <a href="{{item['link']}}">
                    <img src="{{item['image']['thumbnailLink']}}"></img>
                </a>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
